<footer>
  <div class="recent-work">
    <p id="view-my">Want to</p>
    <h2 class="text-center">Work With Me?</h2>
    <div class="h-bar"></div>
    <div class="email">
      <a href="mailto:andrew.j.heinke@gmail.com">andrew.j.heinke<span class="trick">nospamplz</span>@gmail.com</a>
    </div>
  </div>
</footer>
