<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
  <% include ../partials/navbar %>
  <div class="jumbotron">
    <div class="container">
      <h1>Andrew Heinke Portfolio</h1>
      <h4>Subtitle copy text goes here</h4>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <p>
        Paragraph text size
      </p>
    </div>
  </div>

  <% include ../partials/body %>
  </body>
</html>
