<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/twentytwenty.css" media="screen">
  </head>
  <body>
  <% include ../partials/navbar %>
  <div class="bg-wrapper">
    <div class="img-slider-home">
      <div class="container-fluid">
        <div class="mobile-banner">
          <img src="img/mobile-banner.jpg" alt="Andrew Heinke designer and developer" />
        </div>
          <div class="twentytwenty-container" data-orientation="horizontal">
            <img src="img/developer.jpg" />
            <img src="img/designer.jpg" />
          </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container-fluid">
        <div class="col-lg-10 col-lg-offset-1 col-md-12">
          <div class="intro-text">
          <div class="row">
            <h1 id="hello">Hello,</h1>
            <div class="col-lg-12">
                <h1 class="tagline">my name is Andrew Heinke. Half designer, half developer. <span class="fa fa-battery-3"></span> by tacos and Pop-Tarts.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="recent-work">
          <p id="view-my">View My</p>
          <h2 class="text-center">Recent Work</h2>
          <div class="h-bar"></div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="project">
          <a class="elderly-link" href="/portfolio">
              <div class="elderly col-md-12">
                <div class="project-img">
                  <div class="project-copy">
                    <h2 class="project-title">elderly</h2>
                    <p class="project-description">
                      A full stack web application designed to connect elderly people with local volunteers to help them with everyday tasks.
                    </p>
                    <a href="/portfolio">
                      <button type="button" class="project-button" name="button">View Project</button>
                    </a>
                  </div>
                </div>
              </div>
            </a>
        </div>
    </div>
    <div class="row">
      <div class="project">
          <div class="line-up col-md-12">
            <div class="col-md-6">
              <div class="project-img2">
                <img class="shadowed" src="img/project-lineup.png" alt="LineUp by Andrew Heinke" />
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="project-title">LineUp</h2>
              <p class="project-description">
                See how long the line is before you vote. This web app uses geofencing to verify crowdsourced voting on the length of lines.
              </p>
              <a href="/portfolio"><button type="button" class="project-button" name="button">View Project</button></a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/body %>
  <script src="js/jquery.event.move.js"></script>
  <script src="js/jquery.twentytwenty.js"></script>
  <script>
  $(window).load(function(){
    $(".twentytwenty-container[data-orientation!='horizontal']").twentytwenty({default_offset_pct: 0.5});
    $(".twentytwenty-container[data-orientation='horizontal']").twentytwenty({default_offset_pct: 0.5, orientation: 'horizontal'});
  });
</script>
  </body>
</html>
