<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>
    <div class="jumbotron">
      <div class="page-intro">
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="row">
              <h1>Portfolio</h1>
              <p class="page-description">These are a collection of my most recent projects. You can view the live demo and Github repo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="portfolio-section">
      <div class="col-lg-3 col-md-4">
        <div class="card">
          <div class="card-image">
            <a href="http://andrewheinke.github.io/TriviaGame" target="new_blank"><img class="img-responsive" src="img/nba-trivia.jpg"></a>
          </div>
          <div class="card-title">
            NBA Trivia
          </div>
          <div class="card-content">
            <p>Test your NBA knowledge on my trivia challenge, fair warning it's hard!</p>
          </div>

          <div class="card-action">
            <a href="http://andrewheinke.github.io/TriviaGame" target="new_blank">Live Demo</a>
            <a href="https://github.com/AndrewHeinke/TriviaGame" target="new_blank">Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card">
          <div class="card-image">
            <a href="http://andrewheinke.github.io/week-4-game" target="new_blank"><img class="img-responsive" src="img/rpg-game.jpg"></a>
          </div>
          <div class="card-title">
            Clash Royale RPG
          </div>
          <div class="card-content">
            <p>Prepare for battle, play my Clash Royale inspired role playing game!</p>
          </div>

          <div class="card-action">
            <a href="http://andrewheinke.github.io/week-4-game" target="new_blank">Live Demo</a>
            <a href="https://github.com/AndrewHeinke/week-4-game" target="new_blank">Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card">
          <a href="http://andrewheinke.github.io/week-3-game" target="new_blank">
            <div class="card-image">
              <img class="img-responsive" src="img/hangman.jpg">
            </div>
          </a>
          <div class="card-title">
            Pokemon Hangman
          </div>
          <div class="card-content">
            <p>Do you want to be the very best? Test your knowledge with this hangman game.</p>
          </div>

          <div class="card-action">
            <a href="http://andrewheinke.github.io/week-3-game" target="new_blank">Live Demo</a>
            <a href="https://github.com/AndrewHeinke/week-3-game" target="new_blank">Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="card">
          <div class="card-image">
            <a href="https://github.com/herbertg14/bootcampProject" target="new_blank"><img class="img-responsive" src="img/JustDecide.jpg"></a>
          </div>
          <div class="card-title">
            JustDecide
          </div>
          <div class="card-content">
            <p>Spend less time deciding more time doing with this social decision web app!</p>
          </div>

          <div class="card-action">
            <a href="https://github.com/herbertg14/bootcampProject" target="new_blank">Live Demo</a>
            <a href="https://github.com/herbertg14/bootcampProject" target="new_blank">Source Code</a>
          </div>
        </div>
      </div>
      </div>
    </div>

    <% include ../partials/body %>
</body>

</html>
