<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>
    <div class="jumbotron">
      <div class="page-intro">
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="recent-portfolio">
              <p id="view-my">Welcome to My</p>
              <h2 class="text-center">Portfolio</h2>
              <div class="p-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-image">
                <a href="http://pacific-hamlet-23272.herokuapp.com/" target="_blank"><img class="img-responsive" src="img/elderly.jpg"></a>
              </div>
              <div class="card-title">
                Elderly
              </div>
              <div class="card-content">
                <p>A web application to connect elderly people with local volunteers.</p>
              </div>

              <div class="card-action">
                <a href="http://pacific-hamlet-23272.herokuapp.com/" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/elder.ly" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-image">
                <a href="https://pure-scrubland-81366.herokuapp.com/" target="_blank"><img class="img-responsive" src="img/lineup.jpg"></a>
              </div>
              <div class="card-title">
                LineUp
              </div>
              <div class="card-content">
                <p>See how long the line is before you vote. This web app uses geofencing to verify crowdsourced voting on the length of lines.</p>
              </div>

              <div class="card-action">
                <a href="https://pure-scrubland-81366.herokuapp.com/" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/LineUp" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-image">
                <a href="http://andrewheinke.github.io/week-4-game" target="_blank"><img class="img-responsive" src="img/rpg-game.jpg"></a>
              </div>
              <div class="card-title">
                Clash Royale RPG
              </div>
              <div class="card-content">
                <p>Prepare for battle, play my Clash Royale inspired role playing game!</p>
              </div>

              <div class="card-action">
                <a href="http://andrewheinke.github.io/week-4-game" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/week-4-game" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-image">
                <a href="http://andrewheinke.github.io/TriviaGame" target="_blank"><img class="img-responsive" src="img/nba-trivia.jpg"></a>
              </div>
              <div class="card-title">
                NBA Trivia
              </div>
              <div class="card-content">
                <p>Test your NBA knowledge on my trivia challenge, fair warning it's hard!</p>
              </div>

              <div class="card-action">
                <a href="http://andrewheinke.github.io/TriviaGame" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/TriviaGame" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <a href="http://andrewheinke.github.io/week-3-game" target="_blank">
                <div class="card-image">
                  <img class="img-responsive" src="img/hangman.jpg">
                </div>
              </a>
              <div class="card-title">
                Pokemon Hangman
              </div>
              <div class="card-content">
                <p>Do you want to be the very best? Test your knowledge with this hangman game.</p>
              </div>
              <div class="card-action">
                <a href="http://andrewheinke.github.io/week-3-game" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/week-3-game" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-image">
                <a href="http://immense-garden-11246.herokuapp.com/burgers" target="_blank"><img class="img-responsive" src="img/burger.jpg"></a>
              </div>
              <div class="card-title">
                Eat Da Burger!
              </div>
              <div class="card-content">
                <p>A simple app to create and eat burgers. Utlizes MySQL database and Sequelize Nodejs package</p>
              </div>

              <div class="card-action">
                <a href="http://immense-garden-11246.herokuapp.com/burgers" target="_blank">Live Demo</a>
                <a href="https://github.com/AndrewHeinke/sequelizedBurger" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/body %>
</body>

</html>
