<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body style="background-color: #e5e5e5;">
  <% include ../partials/navbar %>
  <div id="resume-intro" >
    <div class="jumbotron">
      <div class="page-intro">
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="recent-portfolio">
              <p id="view-my">Take a Gander at</p>
              <h2 class="text-center">My Resume</h2>
              <div class="p-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="img/profile.png" alt="" />
                <h1 class="name">Andrew Heinke</h1>
                <h3 class="tagline">Developer/Designer</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:andrew.j.heinke@gmail.com">Email Me</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="#">210.882.0062</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="/" target="_self">andrewheinke.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/andrewheinke" target="_blank">linkedin/andrewheinke</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/AndrewHeinke" target="_blank">github/AndrewHeinke</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/andrewheinke" target="_blank">@andrewheinke</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">UT Coding Bootcamp</h4>
                    <h5 class="meta">University of Texas at Austin</h5>
                    <div class="time">2016</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">B.S. Advertising</h4>
                    <h5 class="meta">University of Texas at Austin</h5>
                    <div class="time">2011 - 2015</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>Spanish <span class="lang-desc">(Meh)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Fun Facts</h2>
                <ul class="list-unstyled interests-list">
                    <li>I have been struck by lightning</li>
                    <li>Connect 4 Prodigy</li>
                    <li>Darts Sharpshooter</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Resume</h2>
                <div class="summary">
                    <p>Half designer, half developer. <i class="fa fa-battery-three-quarters" aria-hidden="true"></i> by tacos &amp; Pop-Tarts.<br/>A creative with coding skills, I create things that look good.</p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Designer</h3>
                            <div class="time">Oct 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Kasasa</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Support for over 400 live websites for Community Financial Institutions. I design homepages, landing pages, banners &amp; UI elements. I specialize in user experience and interaction. Through development of my coding knowledge I am able to design better for the web.</p>
                        <p>Recent websites I have designed: <a href="https://www.onlinefirstfed.com/">First Federal Community Bank</a>, <a href="https://www.cpfederal.com/">CP Federal Credit Union</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Developer</h3>
                            <div class="time">May 2015 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">MOSAK Advertising &amp; Insights</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Email Marketing Manager - Building email campaigns, database selection, HTML development and quality assurance. Campaign set-up, testing, tagging, deployment of interactive content-driven campaigns, and compiling monthly email campaign analytics reports.</p>

<p>Web - Website updates/maintenance, development, and design. Optimize sites using SEO best practices. Compile monthly Google Analytics reports.</p>
<p>
Skills Utilized: Blue Hornet (Email Marketing Software), HTML, CSS, Adobe Creative Suite, Wordpress, Sublime Text, Transmit FTP, Google Analytics &amp; Web Master Tools</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Creative Intern</h3>
                            <div class="time">Jan 2015 - May 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">MOSAK Advertising &amp; Insights</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Collaborated and designed graphics as a creative intern.  I worked on agency accounts including Choctaw Casinos &amp; Chuy's Tex-Mex.  Created concept designs for prospective client business.  Developed expert skills in Adobe Creative Suite Programs.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are some live demos of my recent code projects. Feel free to check out the source code on my <a href="https://github.com/AndrewHeinke">GitHub</a></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://pacific-hamlet-23272.herokuapp.com/" target="_blank">Elderly</a></span> - <span class="project-tagline">A web application to connect independent elderly people with local volunteers.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://pure-scrubland-81366.herokuapp.com/" target="_blank">LineUp</a></span> - <span class="project-tagline">A web app that calculates line length based on user votes within geofence.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://andrewheinke.github.io/TriviaGame" target="_blank">NBA Trivia</a></span> - <span class="project-tagline">Test your NBA knowledge on my NBA Trivia challenge, coded using Javascript</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://andrewheinke.github.io/week-4-game" target="_blank">Clash Royale RPG</a></span> - <span class="project-tagline">Prepare for battle, play my role playing game made using Javascript</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://andrewheinke.github.io/week-3-game" target="_blank">Hangman</a></span> -
                    <span class="project-tagline">A Pokemon themed Hangman game coded using Javascript</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://andrewheinke.github.io/trainSchedule" target="_blank">Train Tracker</a></span> - <span class="project-tagline">A Firebase backed train schedule application</span>

                </div><!--//item-->
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner expert" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner expert" data-level="85%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Adobe Creative Suite</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner expert" data-level="100%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Express</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner expert" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">React.js</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner pro" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Node.js</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner expert" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">Singing</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner bad" data-level="15%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                </div>
            </section><!--//skills-section-->
        </div><!--//main-body-->
    </div>
    <% include ../partials/body %>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        /*======= Skillset *=======*/
        $('.level-bar-inner').css('width', '0');
        $(window).on('load', function() {
            $('.level-bar-inner').each(function() {
                var itemWidth = $(this).data('level');
                $(this).animate({
                    width: itemWidth
                }, 800);
            });
        });
      });
    </script>
</body>
</html>
